.about-us {
  max-width: 1411px;
  display: flex;
  margin: 0 auto;
  margin-top: 67px;

  @media (max-width: $tablet-width) {
    margin-top: 22px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.about-as__img-wrapper {
  padding-top: 10px;
  padding-left: 120px;

  @media (max-width: $tablet-width) {
    padding-top: 0;
    padding-left: 29px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.about-us img {
  max-width: none;

  @media (max-width: $tablet-width) {
    width: 131px;
    height: 347px;
    padding-top: 10px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.about-us__content-wrapper {
  padding-right: 130px;
  padding-left: 65px;

  @media (max-width: $tablet-width) {
    padding-right: 35px;
    padding-left: 50px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.about-us__title {
  @include roboto-cound(36px, 400, 51px);
  margin-top: 0;
  margin-bottom: 20px;
  color: $gray;

  @media (max-width: $tablet-width) {
    margin-bottom: 25px;

    @include roboto-cound(32px, 400, 140.62%);
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 22px;

    @include roboto-cound(28px, 400, 140.62%);
  }
}

.about-us__paragraph {
  @include ptmono(16px, 400, 22px);
  margin: 0;
  color: $gray;

  &:first-of-type {
    margin-bottom: 20px;
  }

  &:last-of-type {
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    &:first-of-type {
      margin-bottom: 41px;
    }

    &:last-of-type {
      margin-bottom: 27px;
    }
  }
}

.about-us__paragraph span {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.about-us__button {
  display: block;
  width: 180px;
  color: $blue;
  border: 1px solid $blue;

  &:hover {
    color: $white;
    background-color: $blue;
  }
}
