.address {
  position: relative;

  @media (max-width: $tablet-width) {
    padding-top: 40px;
    padding-right: 20px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 37px;
    padding-left: 20px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-top: 10px;
    padding-left: 0;
  }
}

.address__title {
  margin: 0;
  margin-bottom: 23px;
  text-transform: uppercase;

  @include roboto-cound(15px, 400, 16px);

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-top: 10px;
    padding-left: 15px;

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
}

.address__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include ptmono(15px, 400, 25px);

  @media (max-width: $mobile-width) {
    padding-bottom: 38px;
    padding-left: 15px;
  }
}

.address__list a:hover,
.address__list a:focus {
  opacity: 1;
}

.address__paragraph {
  margin: 0;
}

.address__paragraph,
.address__item a {
  color: #1b2d37;
  opacity: 0.5;
}
