.address {
  @media (max-width: $tablet-width) {
    padding-top: 40px;
    padding-right: 20px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 37px;
    padding-left: 20px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-top: 10px;
    padding-left: 0;
  }
}

.address__title {
  position: relative;
  margin: 0;
  margin-bottom: 23px;
  text-transform: uppercase;

  @include roboto-cound(15px, 400, 16px);

  @media (max-width: $mobile-width) {
    padding-top: 10px;
    padding-left: 15px;
  }
}

.address__title--close::after {
  @media (max-width: $mobile-width) {
    content: "";
    width: 16px;
    height: 2px;
    position: absolute;
    right: 0;
    top: 15px;
    background-image: url("../img/minus.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
}

.address__title--open {
  @media (max-width: $mobile-width) {
    padding-bottom: 20px;
    border-bottom: 1px solid $border;
  }
}

.address__title--open::after {
  @media (max-width: $mobile-width) {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    right: 20px;
    top: 10px;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
}

.address__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include ptmono(15px, 400, 25px);

  @media (max-width: $mobile-width) {
    padding-left: 15px;
  }
}

.address__list a:hover {
  opacity: 1;
}

.address__paragraph {
  margin: 0;
}

.address__paragraph,
.address__item a {
  color: #1b2d37;
  opacity: 0.5;
}
