.info {
  display: flex;
  max-width: 1450px;
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    padding: 0;
    padding-top: 35px;
  }
}
