.main-header {
  background-image: url("../img/background-desktop.png"), url("../img/ciurcuit-desktop.png"), url("../img/icon-triangles.svg");
  background-repeat: no-repeat;
  background-position: center center, 90% 70%, 80% 69%;
  background-size: cover, auto 58%, auto;
  background-color: $background-color;

  @media (max-width: $tablet-width) {
    background-image: url("../img/background-tablet.png"), url("../img/ciurcuit-tablet.png"), url("../img/icon-triangles.svg");
    background-repeat: no-repeat;
    background-position: center top, right 33%, 456px 82px;
    background-size: cover, auto 50%, auto 56%;
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/background-mobile.png"), url("../img/ciurcuit-mobile.png"), url("../img/icon-triangles.svg");
    background-repeat: no-repeat;
    background-position: center top, 88% 22%, 171px 76px;
    background-size: cover, auto 34%, auto 55%;
  }
}
