.main-header {
  background-image: url("../img/background-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: $background-color;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background-desktop@2x.png");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/background-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }

  @media (max-width: $tablet-width) and (min-resolution: $retina-dpi), (max-width: $tablet-width) and (min-resolution: $retina-dppx) {
    background-image: url("../img/background-tablet@2x.png");
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/background-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }

  @media (max-width: $mobile-width) and (min-resolution: $retina-dpi), (max-width: $mobile-width) and (min-resolution: $retina-dppx) {
    background-image: url("../img/background-mobile@2x.png");
  }
}
