.sections {
  position: relative;
  min-width: 42%;
  margin-right: 60px;

  @media (max-width: $tablet-width) {
    min-width: 38%;
    padding-top: 37px;
    padding-left: 29px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-right: 0;
    padding-top: 10px;
    padding-left: 0;
    border-bottom: 1px solid $border;
  }
}

.sections__title {
  margin: 0;
  margin-bottom: 24px;
  text-transform: uppercase;

  @include roboto-cound(15px, 400, 16px);

  @media (max-width: $mobile-width) {
    padding-top: 10px;
    padding-left: 15px;

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
}

.sections__list {
  column-count: 2;
  margin: 0;
  padding: 0;
  list-style: none;

  @include ptmono(15px, 400, 25px);

  :hover,
  &:focus {
    opacity: 1;
  }

  @media (max-width: $tablet-width) {
    column-count: 1;
    padding-left: 15px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 38px;
  }
}

.sections__item a {
  color: #1b2d37;
  opacity: 0.5;
}
