.social {
  min-width: 27%;

  @media (max-width: $tablet-width) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid $border;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  list-style: none;

  @media (max-width: $tablet-width) {
    padding-top: 10px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto;
    margin-top: 80px;
  }
}

.social__item {
  margin-right: 20px;
}

.social__item svg {
  fill: #cdcdcd;
}

.social__item:hover {
  opacity: 0.5;
}
