$white: #ffffff;
$border: #ebebeb;
$gray: #666666;
$light-gry: #788891;
$blue: #00b2ff;
$background-color: #1b2d37;


$mobile-width: 767px;
$tablet-width: 1023px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
